{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "小程序的互补助手的接口文档\n错误码的含义：\n错误码：1001，含义：参数错误\n错误码：1002，含义：业务层错误\n错误码：1003，含义：未登录\n错误码：1004，含义：wxid重复绑定",
        "title": "Swagger 互补助手 API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "www.xxx.cn",
    "paths": {
        "/v1/api/applets/callback": {
            "get": {
                "description": "小程序数据回调的签名",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API Client",
                    "API Client的小程序管理"
                ],
                "summary": "小程序数据回调的签名",
                "operationId": "APIAppletsCallback",
                "parameters": [
                    {
                        "type": "string",
                        "description": "微信加密签名，signature结合了开发者填写的 token 参数和请求中的 timestamp 参数、nonce参数。",
                        "name": "signature",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "时间戳",
                        "name": "timestamp",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "随机数",
                        "name": "nonce",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "随机字符串",
                        "name": "echostr",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "post": {
                "description": "小程序数据回调的数据",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API Client",
                    "API Client的小程序管理"
                ],
                "summary": "小程序数据回调的数据",
                "operationId": "APIAppletsCallback",
                "parameters": [
                    {
                        "type": "string",
                        "description": "值为：aes 表示是安全模式",
                        "name": "encrypt_type",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "小程序id",
                        "name": "openid",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "时间戳",
                        "name": "timestamp",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "随机数",
                        "name": "nonce",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "消息的签名",
                        "name": "msg_signature",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.AppletsCallbackDta"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/api/applets/parse": {
            "post": {
                "description": "小程序解析",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API Client",
                    "API Client的小程序管理"
                ],
                "summary": "小程序解析",
                "operationId": "APIAppletsParse",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.AppletsParseReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/api/gzh/event": {
            "get": {
                "description": "公众号的事件",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API Client",
                    "API Client的公众号管理"
                ],
                "summary": "公众号的事件",
                "operationId": "APIGzhEvent",
                "parameters": [
                    {
                        "type": "string",
                        "description": "appid",
                        "name": "appid",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "openid",
                        "name": "openid",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "unionid",
                        "name": "unionid",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "是否订阅：0-取消订阅，1-订阅",
                        "name": "is_follow",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/api/user/wxBind": {
            "post": {
                "description": "用户的微信绑定",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API Client",
                    "API Client的用户管理"
                ],
                "summary": "用户的微信绑定",
                "operationId": "APIUserWxBind",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.WxBindingCreateReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/appletsParse/list": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "小程序解析列表",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的小程序解析管理"
                ],
                "summary": "小程序解析列表",
                "operationId": "WebAppletsParseList",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "第几页，大于等于1",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "每页的大小，大于等于1",
                        "name": "pageSize",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.AppletsParse"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/complaintRecord/create": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "投诉创建",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的投诉管理"
                ],
                "summary": "投诉创建",
                "operationId": "WebComplaintRecordCreate",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.ComplaintRecordCreateReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.ComplaintRecord"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/complaintRecord/list": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "投诉列表",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的投诉管理"
                ],
                "summary": "投诉列表",
                "operationId": "WebComplaintRecordList",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "第几页，大于等于1",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "每页的大小，大于等于1",
                        "name": "pageSize",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.ComplaintRecord"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/complaintRecord/state": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "只允许客服账号修改",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的投诉管理"
                ],
                "summary": "投诉状态",
                "operationId": "WebComplaintRecordState",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.ComplaintRecordStateReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/config/audit": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "是否审核",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的配置管理"
                ],
                "summary": "是否审核",
                "operationId": "WebConfigIsAudit",
                "parameters": [
                    {
                        "type": "string",
                        "description": "版本",
                        "name": "version",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/config/key": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "可用的key：\n审核版本：audit_version\n积分详情：integral_details\n积分详情的结构的字段说明：\ninitial-初始，attenGzh-关注公众号公众号，bindRbt-绑定机器人，inviteFriends-邀请好友\nhelp-助力，helpLaunch-助力发起，helpTop-助力置顶，helpComplaint-助力投诉\nsignIn-签到，signIn3-连续签到3天，signIn5-连续签到5天，signIn7-连续签到7天",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的配置管理"
                ],
                "summary": "获取配置",
                "operationId": "WebConfigGetKey",
                "parameters": [
                    {
                        "type": "string",
                        "description": "配置的key，支持多个同时获取",
                        "name": "key",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "配置的key，支持多个同时获取",
                        "name": "key",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "配置的key，支持多个同时获取",
                        "name": "key",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": true
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/config/version": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "修改审核版本",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的配置管理"
                ],
                "summary": "修改审核版本",
                "operationId": "WebConfigEditVersion",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.ConfigVersionReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/enclosure/upload": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "上传附件",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的附件管理"
                ],
                "summary": "上传附件",
                "operationId": "WebEnclosureUpload",
                "parameters": [
                    {
                        "type": "file",
                        "description": "附件文件，最大20M",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Enclosure"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/feedback/create": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "反馈建议新增",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的反馈建议管理"
                ],
                "summary": "反馈建议新增",
                "operationId": "WebFeedbackCreate",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.FeedbackCreateReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Feedback"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/feedback/list": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "反馈建议列表",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的反馈建议管理"
                ],
                "summary": "反馈建议列表",
                "operationId": "WebFeedbackList",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "第几页，大于等于1",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "每页的大小，大于等于1",
                        "name": "pageSize",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.Feedback"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/imRecord/create": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "聊天创建",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的聊天管理"
                ],
                "summary": "聊天创建",
                "operationId": "WebIMRecordCreate",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.IMRecordCreateReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.IMRecord"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/imRecord/list": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "聊天列表",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的聊天管理"
                ],
                "summary": "聊天列表",
                "operationId": "WebIMRecordList",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "任务接取id",
                        "name": "taskReceiveId",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "第几页，大于等于1",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "每页的大小，大于等于1",
                        "name": "pageSize",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.IMRecord"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/integral/list": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "积分列表",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的积分管理"
                ],
                "summary": "积分列表",
                "operationId": "WebIntegralRecordList",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "类别：1-任务，2-邀请，999-其他",
                        "name": "category",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "第几页，大于等于1",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "每页的大小，大于等于1",
                        "name": "pageSize",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.IntegralRecord"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/label/list": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "标签列表",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的标签管理"
                ],
                "summary": "标签列表",
                "operationId": "WebLabelList",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "第几页，大于等于1",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "每页的大小，大于等于1",
                        "name": "pageSize",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.Label"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/task/create": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "任务创建",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的任务管理"
                ],
                "summary": "任务创建",
                "operationId": "WebTaskCreate",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.TaskCreateReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Task"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/task/incrTotal": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "任务数量增量",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的任务管理"
                ],
                "summary": "任务数量增量",
                "operationId": "WebIncrTaskTotal",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.TaskIncrTaskTotalReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/task/list": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "任务列表",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的任务管理"
                ],
                "summary": "任务列表",
                "operationId": "WebTaskList",
                "parameters": [
                    {
                        "type": "string",
                        "description": "查询的关键字",
                        "name": "keyword",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "标签id",
                        "name": "labelId",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "支持多个标签id",
                        "name": "labelId",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "第几页，大于等于1",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "每页的大小，大于等于1",
                        "name": "pageSize",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.Task"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/task/stop": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "任务停止",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的任务管理"
                ],
                "summary": "任务停止",
                "operationId": "WebTaskStop",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.TaskStopReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/taskReceive/arrearsState": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "更改任务接单欠费状态",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的任务管理"
                ],
                "summary": "任务接单欠费状态",
                "operationId": "WebTaskReceiveArrearsState",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.TaskReceiveArrearsStateReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/taskReceive/list": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "任务接单列表",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的任务管理"
                ],
                "summary": "任务接单列表",
                "operationId": "WebTaskReceiveList",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "任务id",
                        "name": "taskId",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "第几页，大于等于1",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "每页的大小，大于等于1",
                        "name": "pageSize",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.TaskReceive"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/taskReceive/state": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "更改任务接单状态",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的任务管理"
                ],
                "summary": "任务接单状态",
                "operationId": "WebTaskReceiveState",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.TaskReceiveStateReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/taskReceive/take": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "接取任务",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的任务管理"
                ],
                "summary": "接取任务",
                "operationId": "WebTaskReceiveTake",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.TaskReceiveTakeReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.TaskReceive"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/user/info": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "用户信息",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的用户管理"
                ],
                "summary": "用户信息",
                "operationId": "WebUserInfo",
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.User"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/user/invite": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "邀请记录",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的用户管理"
                ],
                "summary": "邀请记录",
                "operationId": "WebUserInviteRecord",
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.User"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/user/minWxLogin": {
            "post": {
                "description": "小程序的登录",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的登录管理"
                ],
                "summary": "小程序的登录",
                "operationId": "WebLogin",
                "parameters": [
                    {
                        "description": "登录的请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.MinWxLoginReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/dto.MinWxLoginRsp"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/user/phone": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "解析手机号码",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的用户管理"
                ],
                "summary": "解析手机号码",
                "operationId": "WebUserParsePhone",
                "parameters": [
                    {
                        "description": "请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.UserParsePhoneReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/user/signin": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "用户签到",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的用户管理"
                ],
                "summary": "用户签到",
                "operationId": "WebUserSignIn",
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/user/update": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "用户信息",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的用户管理"
                ],
                "summary": "更新信息",
                "operationId": "WebUserUpdate",
                "parameters": [
                    {
                        "description": "注意，如果不需要更新，那么字段都不要传，否则会更新成默认值",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.UserUpdateReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.User"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/web/user/wxCode2Session": {
            "post": {
                "description": "小程序的code换算session",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WEB Client",
                    "WEB Client的登录管理"
                ],
                "summary": "小程序的code换算session",
                "operationId": "WebWxCode2Session",
                "parameters": [
                    {
                        "description": "登录的请求参数",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.WxCode2SessionReq"
                        }
                    }
                ],
                "responses": {
                    "1001": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "1002": {
                        "description": "业务逻辑处理错误",
                        "schema": {
                            "$ref": "#/definitions/ginx.Resp"
                        }
                    },
                    "200": {
                        "description": "处理成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ginx.Resp"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/dto.WxCode2SessionRsp"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "dto.AppletsCallbackDta": {
            "type": "object",
            "properties": {
                "CreateTime": {
                    "description": "发送时间",
                    "type": "integer"
                },
                "Event": {
                    "description": "默认为：wxa_media_check",
                    "type": "string"
                },
                "FromUserName": {
                    "description": "平台推送服务UserName",
                    "type": "string"
                },
                "MsgType": {
                    "description": "默认为：Event",
                    "type": "string"
                },
                "ToUserName": {
                    "description": "小程序的username",
                    "type": "string"
                },
                "appid": {
                    "description": "小程序的appid",
                    "type": "string"
                },
                "detail": {
                    "description": "详细检测结果",
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "errcode": {
                                "type": "integer"
                            },
                            "label": {
                                "description": "命中标签\n100-正常\n10001-广告\n20001-时政\n20002-色情\n20003-辱骂\n20006-违法犯罪\n20008-欺诈\n20012-低俗\n20013-版权\n21000-其他",
                                "type": "integer"
                            },
                            "prob": {
                                "type": "integer"
                            },
                            "strategy": {
                                "type": "string"
                            },
                            "suggest": {
                                "description": "建议\nrisky-建议\npass-安全\nreview-需要审查",
                                "type": "string"
                            }
                        }
                    }
                },
                "errcode": {
                    "type": "integer"
                },
                "errmsg": {
                    "type": "string"
                },
                "result": {
                    "description": "综合结果",
                    "type": "object",
                    "properties": {
                        "label": {
                            "description": "命中标签\n100-正常\n10001-广告\n20001-时政\n20002-色情\n20003-辱骂\n20006-违法犯罪\n20008-欺诈\n20012-低俗\n20013-版权\n21000-其他",
                            "type": "integer"
                        },
                        "suggest": {
                            "description": "建议\nrisky-建议\npass-安全\nreview-需要审查",
                            "type": "string"
                        }
                    }
                },
                "trace_id": {
                    "description": "任务id",
                    "type": "string"
                },
                "version": {
                    "description": "可用于区分接口版本",
                    "type": "integer"
                }
            }
        },
        "dto.AppletsParseReq": {
            "type": "object",
            "required": [
                "originalContent",
                "wxid"
            ],
            "properties": {
                "originalContent": {
                    "description": "原始内容",
                    "type": "string"
                },
                "wxid": {
                    "description": "微信用户id",
                    "type": "string",
                    "maxLength": 255
                }
            }
        },
        "dto.ComplaintRecordCreateReq": {
            "type": "object",
            "required": [
                "complaintUserId",
                "desc",
                "taskId"
            ],
            "properties": {
                "complaintUserId": {
                    "description": "投诉用户id",
                    "type": "integer",
                    "minimum": 1
                },
                "desc": {
                    "description": "投诉详情",
                    "type": "string",
                    "maxLength": 300
                },
                "images": {
                    "description": "图片数组，多个用英文字符的 ; 间隔开",
                    "type": "string",
                    "example": "https://www.baidu.com/1.jpg;https://www.baidu.com/1.jpg"
                },
                "taskId": {
                    "description": "用户id",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "dto.ComplaintRecordStateReq": {
            "type": "object",
            "required": [
                "complaintRecordId",
                "state"
            ],
            "properties": {
                "complaintRecordId": {
                    "description": "投诉记录id",
                    "type": "integer",
                    "minimum": 1
                },
                "state": {
                    "description": "成立状态\n1-成立\n2-不成立",
                    "type": "integer",
                    "enum": [
                        1,
                        2
                    ]
                }
            }
        },
        "dto.ConfigVersionReq": {
            "type": "object",
            "properties": {
                "version": {
                    "description": "版本",
                    "type": "string",
                    "maxLength": 10
                }
            }
        },
        "dto.FeedbackCreateReq": {
            "type": "object",
            "required": [
                "content",
                "image"
            ],
            "properties": {
                "content": {
                    "description": "内容",
                    "type": "string"
                },
                "image": {
                    "description": "图片",
                    "type": "string",
                    "maxLength": 300
                }
            }
        },
        "dto.IMRecordCreateReq": {
            "type": "object",
            "required": [
                "category",
                "content",
                "taskReceiveId"
            ],
            "properties": {
                "category": {
                    "description": "类别\n10-文本\n20-图片\n30-视频",
                    "type": "integer",
                    "enum": [
                        10,
                        20,
                        30
                    ]
                },
                "content": {
                    "description": "内容",
                    "type": "string",
                    "maxLength": 300
                },
                "taskReceiveId": {
                    "description": "任务接取id",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "dto.MinWxLoginReq": {
            "type": "object",
            "required": [
                "encryptedData",
                "iv"
            ],
            "properties": {
                "code": {
                    "description": "微信小程序登录的code",
                    "type": "string",
                    "maxLength": 50
                },
                "encryptedData": {
                    "description": "用户信息的加密数据",
                    "type": "string"
                },
                "fromCode": {
                    "description": "邀请码",
                    "type": "string",
                    "maxLength": 50
                },
                "hash": {
                    "description": "通过session2code方法，返回的数据加密的一段文本，防止数据篡改",
                    "type": "string",
                    "maxLength": 50
                },
                "iv": {
                    "description": "加密数据的iv",
                    "type": "string"
                },
                "openid": {
                    "description": "openid，有session key的时候该值不能为空",
                    "type": "string",
                    "maxLength": 255
                },
                "sessionKey": {
                    "description": "Session Key",
                    "type": "string",
                    "maxLength": 50
                },
                "unionid": {
                    "description": "unionid key的时候该值不能为空",
                    "type": "string",
                    "maxLength": 255
                }
            }
        },
        "dto.MinWxLoginRsp": {
            "type": "object",
            "properties": {
                "avatar": {
                    "description": "头像",
                    "type": "string"
                },
                "cashableIntegral": {
                    "description": "可兑现的积分",
                    "type": "integer"
                },
                "city": {
                    "description": "市",
                    "type": "string"
                },
                "code": {
                    "description": "邀请码",
                    "type": "string"
                },
                "country": {
                    "description": "国家",
                    "type": "string"
                },
                "createTime": {
                    "description": "注册时间",
                    "type": "integer"
                },
                "deleteTime": {
                    "description": "删除时间",
                    "type": "integer"
                },
                "dynamic": {
                    "description": "动态",
                    "type": "string"
                },
                "fromCode": {
                    "description": "邀请码",
                    "type": "string"
                },
                "gender": {
                    "description": "0-未知\n1-男\n2-女",
                    "type": "integer"
                },
                "gzhid": {
                    "description": "公众号id",
                    "type": "string"
                },
                "helpTotal": {
                    "description": "助力别人的次数",
                    "type": "integer"
                },
                "id": {
                    "type": "integer"
                },
                "integral": {
                    "description": "不可兑现积分",
                    "type": "integer"
                },
                "isBlack": {
                    "description": "是否黑名单\ntrue-是\nfalse-不是",
                    "type": "boolean"
                },
                "isCustomerService": {
                    "description": "是否客服\ntrue-是\nfalse-不是",
                    "type": "boolean"
                },
                "isDeleted": {
                    "description": "是否已经删除",
                    "type": "boolean"
                },
                "isSubscribeMsg": {
                    "description": "是否订阅消息\ntrue-已经订阅\nfalse-没有订阅",
                    "type": "boolean"
                },
                "lastLoginIp": {
                    "description": "上次登录的IP",
                    "type": "string"
                },
                "lastLoginTime": {
                    "description": "上次登录的时间戳",
                    "type": "integer"
                },
                "lastSignInTime": {
                    "description": "上次签到的时间",
                    "type": "integer"
                },
                "nickname": {
                    "description": "昵称",
                    "type": "string"
                },
                "openid": {
                    "description": "小程序openid",
                    "type": "string"
                },
                "path": {
                    "description": "邀请码的链路，存储用户的邀请码，每个邀请码用英文字符的,间隔开",
                    "type": "string"
                },
                "phone": {
                    "description": "没有区号的手机号码",
                    "type": "string"
                },
                "phoneCountryCode": {
                    "description": "手机号码的国家码/区号",
                    "type": "string"
                },
                "province": {
                    "description": "省",
                    "type": "string"
                },
                "signInIntegral": {
                    "description": "签到总积分",
                    "type": "integer"
                },
                "successiveSignInTotal": {
                    "description": "连续签到的次数",
                    "type": "integer"
                },
                "takeGzhIntegral": {
                    "description": "领取公众号积分\ntrue-已领取\nfalse-未领取",
                    "type": "boolean"
                },
                "takeInitialIntegral": {
                    "description": "领取初始积分\ntrue-已领取\nfalse-未领取",
                    "type": "boolean"
                },
                "token": {
                    "description": "token 信息",
                    "type": "string"
                },
                "unionid": {
                    "description": "开放平台的unionid",
                    "type": "string"
                },
                "updateTime": {
                    "description": "更新时间",
                    "type": "integer"
                },
                "wxid": {
                    "description": "微信用户id",
                    "type": "string"
                }
            }
        },
        "dto.TaskCreateReq": {
            "type": "object",
            "required": [
                "content",
                "endTime",
                "image",
                "labelId",
                "receiveTotal",
                "taskTotal"
            ],
            "properties": {
                "content": {
                    "description": "内容",
                    "type": "string"
                },
                "endTime": {
                    "description": "结束时间戳，秒级别",
                    "type": "integer",
                    "format": "10位时间戳",
                    "maximum": 9999999999,
                    "minimum": 1000000000
                },
                "helps": {
                    "description": "助力数组",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.Help"
                    }
                },
                "image": {
                    "description": "图片",
                    "type": "string",
                    "maxLength": 300
                },
                "labelId": {
                    "description": "标签id",
                    "type": "array",
                    "minItems": 1,
                    "items": {
                        "type": "integer",
                        "minimum": 1
                    }
                },
                "receiveTotal": {
                    "description": "已接数量",
                    "type": "integer",
                    "minimum": 1
                },
                "taskTotal": {
                    "description": "任务数量",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "dto.TaskIncrTaskTotalReq": {
            "type": "object",
            "required": [
                "taskId"
            ],
            "properties": {
                "incrTaskTotal": {
                    "description": "任务数量的增量，小于 0 则减少任务数量，大于 0 则增加任务数量",
                    "type": "integer"
                },
                "taskId": {
                    "description": "任务id",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "dto.TaskReceiveArrearsStateReq": {
            "type": "object",
            "required": [
                "taskReceiveId"
            ],
            "properties": {
                "state": {
                    "description": "是否欠费\ntrue-欠费\nfalse-不欠费",
                    "type": "boolean"
                },
                "taskReceiveId": {
                    "description": "任务接单id",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "dto.TaskReceiveStateReq": {
            "type": "object",
            "required": [
[...]
